.card(id=cardId)
    .card-header(@click=toggleThis)
        .label= label
        if collapsible
            .arrow(class={open: !isCollapsed}) ▶
    if !isCollapsed
        .card-body
            slot
                p This card is empty
